node_modules/
**/**/native/target
**/**/native/index.node
**/**/native/artifacts.json
**/*~
**/node_modules
**/.DS_Store

# vscode readme
vscode/README.md

# TypeScript outputs
core/out/
vscode/out/

# Vscode testing specific
.vscode-test/

# vscode editor
.vscode/